@{
    ViewBag.Title = "Home Page";
}


<div class="row container">
    <h2>Room Availability</h2>
    <div>
        <form class="form-horizontal" role="search" action="/Home/CheckAvailability/" method="get">
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">CheckIn</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" placeholder="CheckIn Date" name="CheckInDate" id="CheckInDate" required>
                </div>
                <label class="control-label col-sm-1" for="email">CheckOut</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" placeholder="CheckOut" name="CheckOutDate" id="CheckOutDate" required>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit">Check availability</button>
                </div>
            </div>

        </form>
        <span class="text-danger" id="errorMsg" style="display:none;">
            <strong>
                To give a chance to everyone to book a room, the stay can’t be longer than 3 days and can’t be reserved more than 30 days in advance.           </strong>
        </span>
    </div>
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        focusCheckInDate();
        focusCheckOutDate();
        $("#CheckInDate").change(function () {

            focusCheckOutDate();
        });
        function focusCheckInDate() {
            var todayDate = calculateCurrentDate();
            $("#CheckInDate").attr("min", todayDate);
            var days30Date = calculate30DaysafterDate();
            $("#CheckInDate").attr("max", days30Date);
            $("#CheckInDate").val(todayDate);
        }


        function focusCheckOutDate() {
            var todayDate = calculateCurrentDate();
            var checkInDate = $("#CheckInDate").val();
            if (checkInDate != null && checkInDate != "") {
                $("#CheckOutDate").attr("min", checkInDate);
            } else {
                $("#CheckOutDate").attr("min", todayDate);
            }

            var days3Date = calculate3DaysafterCheckInDate();
            $("#CheckOutDate").attr("max", days3Date);
            $("#errorMsg").show();
        }
        function calculateCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            return today;
        }

        function calculate30DaysafterDate() {
            var today = new Date();
            today.setDate(today.getDate() + 30);
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            return today;
        }

        function calculate3DaysafterCheckInDate() {
            var date = new Date($("#CheckInDate").val());
            date.setDate(date.getDate() + 3);
            var dd = date.getDate();
            var mm = date.getMonth() + 1; //January is 0!
            var yyyy = date.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            date = yyyy + '-' + mm + '-' + dd;
            return date;
        }
    });

</script>

}